@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto|Six+Caps');


    $fontDefault: 'Roboto', sans-serif;
    $fontLogo: 'Six Caps', sans-serif;

.main{
 font-family: $fontDefault;

}